<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prefetch_projectmicrobenchmark.searchapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultActivity" />
        <activity android:name=".TestCaseActivities.TestCase7" />
        <activity android:name=".TestCaseActivities.TestCase8" />
        <activity android:name=".TestCaseActivities.TestCase9" />
        <activity android:name=".TestCaseActivities.TestCase10" />
        <activity android:name=".TestCaseActivities.TestCase11" />
        <activity android:name=".TestCaseActivities.TestCase12" />
        <activity android:name=".TestCaseActivities.TestCase13" />
        <activity android:name=".TestCaseActivities.TestCase14" />
        <activity android:name=".TestCaseActivities.TestCase15"></activity>
    </application>

</manifest>